{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div>
		<a href="{{ path('app_intervenant_index') }}">Intervenant</a>
	</div>
	<div>
		<a href="{{ path('app_matiere_index') }}">Matière</a>
	</div>
	<div>
		<a href="{{ path('app_calendrier_index') }}">calendrier</a>
	</div>

{% endblock %}
