{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div>
		<a href="{{ path('app_intervenant_calendar',{'year': 'now' | date('Y')}) }}">Get full calendar from current year</a>
	</div>
	<div>
		<a href="{{ path('app_intervenant_disponibility_index') }}">Disponibilité</a>
	</div>
	<div>
		<a href="{{ path('app_cours_index_intervenant') }}">Cours</a>
	</div>
{% endblock %}
