{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div>
		<a href="{{ path('app_intervenant_disponibility_index') }}">Disponibilité</a>
	</div>
{% endblock %}
