<div class="popover" role="popover" style="padding: 20px;">
	<p>Ajouter un cours</p>
    <select name="add-matiere" id="add-matiere">
		{% for matiere in matieres %}
			<option value="{{ matiere.id }}">{{ matiere.libelle }} - {{ matiere.specialite }}</option>
		{% endfor %}
	</select>
	<button id="add-cours">valider</button>
</div>
